@import url('https://googleapis.com');

body{
    font-family: 'Roboto', sans-serif;
    margin: 20px 100px 20px 100px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;

}

.footer {
    text-align: center;
    color: #f9faf8;
    background-color: #1f2937;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}
.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration:none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero{
    display: flex;
    gap: 20px;
    padding: 40px;
    background-color: #1f2937;

}

.heroleft{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.heroright{
    flex: 1;
}

.image-placeholder{
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.heroleft h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;

}

.heroleft p{
    font-size: 18px;
    color: #e5e7eb;

}

button {
    width: fit-content;
    padding: 10px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.additional-info{
    display: flex;
    flex-direction: column;

}

.additional-text{
    flex: 1;
    align-self: center
}

.additional-text h1{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.additional-images{
    flex: 1;
    display: flex;
}